<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="A small debugging tool made for the Zendesk Community Day" /> 

    <title>Welcome to the Zendesk Community day!</title>

    <link
      id="favicon"
      rel="icon"
      href="https://d1eipm3vz40hy0.cloudfront.net/images/logos/favicons/favicon.ico"
      type="image/x-icon"
    />
  </head>
  <body>
      <h1>
          Welcome to the Zendesk community day!
      </h1>
  </body>